body, html {
  margin: 0;
  padding: 0;
  font-family: Arial;
  font-size: 14px;
}

body {
  background-color: #f5f5f5;
}

* {
  box-sizing: border-box;
}

.fix-container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 50px;
  width: 960px;
  height: 100%;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hidden {
  display: none;
}

.left-column {
  width: 470px;
}

.right-column {
  min-width: 470px;
}

.heading {
  font-style: 21px;
  font-weight: 400;
}

.form-container {
  height: 500px;
  margin: 0;
  padding: 29px 0 0 0;
  background-color: #ffffff;
  border: none;
}

#task-name__field,
#task-description__field {
  display: block;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: bold;
  border: 1px solid #ebebeb;
  background-color: #f9f9f9;
}

#task-name__field {
  width: 390px;
  height: 45px;
  padding: 0 15px 0 15px;
  margin: 0 auto 28px auto;
}

#task-description__field {
  width: 390px;
  height: 230px;
  padding: 15px;
  margin: 0 auto 28px auto;
  resize: none;
  font-family: Arial;
}

.task-name__label {
  margin: 0 0 11px 40px;
}

.task-description__label {
  margin: 0 0 9px 40px;
}

.task-name__label,
.task-description__label {
  color: #8993ad;
}

.add-task-button {
  display: block;
  width: 224px;
  height: 55px;
  margin: 0 auto 30px 40px;
  color: #ffffff;
  font-size: 16px;
  background-color: #2174fd;
  border: none;
}

.task-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.task-item {
  margin-bottom: 20px;
  background-color: #ffffff;
}

.task-item__name {
  font-size: 16px;
  font-weight: bold;
}

.task-item__name-container {
  width: 100%;
  padding: 0 20px;
  min-height: 50px;
  border-bottom: 1px solid rgba(235, 235, 235, 0.4);
}


.task-item__clear,
.task-item__open {
  display: block;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
}

.task-item__clear {
  margin-left: 15px;
  background-image: url('img/clear-button.png');
  height: 9px;
  width: 9px;
}

.task-item__open {
  background-image: url('img/arrow.png');
  height: 6px;
  width: 5px;
}


.task-item__description {
  height: 85px;
  padding: 10px 20px;
  overflow: hidden;
  color: #8993ad;
}

.empty-list {
  padding-top: 47px;
  font-size: 16px;
  color: #8993ad;
}

